@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'OpunMai';
  src: url('/fonts/Opun-Mai-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpunMaiBold';
  src: url('/fonts/Opun-Mai-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpunMaiSemiBold';
  src: url('/fonts/Opun-Mai-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bernoru';
  src: url('/fonts/bernoru-blackultraexpanded.otf') format('opentype');
}

input,select,textarea {
   background-color: white !important;
}

@layer base {
  body {
    @apply font-opun;
    @apply bg-base-200;
  }
}

